.App {
  text-align: center;
 background-color: gray
}

h1 {
  color: white
}
h2{
  color: wheat;
}
.buttons {
  
  display: flex;
  gap: 3em;
  justify-content: center;
  
}

.footer{
 border-top: 1px solid #e8ffc1;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

p {
  font-size: 18px;
  background: rgba(255, 255, 255, 0.4);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 10 auto;
  padding: 20px;
  border: 1px;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
  color: black
}
